@model CarMileage.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
@if (Model != null){
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}
<form method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <input type="email" class="form-control col-sm-5" asp-for="Email" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password</label>
        <input type="password" class="form-control col-sm-5" asp-for="Password" />
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary" style="margin-left:15px;">Log in</button>
    </div>
</form>